html, body {
  height: 100%;
  margin: 0;
}
body {
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  overflow: hidden;
  color: #fff;
  background-color: #0D0B12;
  background-image: 
    radial-gradient(at 20% 20%, hsla(278, 80%, 30%, 0.3) 0px, transparent 50%),
    radial-gradient(at 80% 20%, hsla(220, 80%, 40%, 0.2) 0px, transparent 50%),
    radial-gradient(at 20% 80%, hsla(180, 80%, 40%, 0.2) 0px, transparent 50%),
    radial-gradient(at 80% 80%, hsla(320, 80%, 50%, 0.3) 0px, transparent 50%);
}


body.dragging {
  cursor: ns-resize;
}
body.dragging * {
  user-select: none;
  pointer-events: none;
}