html, body {
  height: 100%;
  margin: 0;
}
body {
  font-family: 'Google Sans', sans-serif;
  font-size: 14px;
  overflow: hidden;
  color: #fff;
  background: linear-gradient(-45deg, #11001c, #2e003e, #1c004a, #002d5e);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

body.dragging {
  cursor: ns-resize;
}
body.dragging * {
  user-select: none;
  pointer-events: none;
}